@font-face {
  font-family: "iconfont"; /* Project id 2478234 */
  src: url('iconfont.woff2?t=1622353526548') format('woff2'),
       url('iconfont.woff?t=1622353526548') format('woff'),
       url('iconfont.ttf?t=1622353526548') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-gengduo:before {
  content: "\e8af";
}

.icon-fenxiang:before {
  content: "\e8b0";
}

.icon-jianshao:before {
  content: "\e8b1";
}

.icon-shaixuan:before {
  content: "\e8b6";
}

.icon-shezhi:before {
  content: "\e8b7";
}

.icon-shuaxin:before {
  content: "\e8b9";
}

.icon-sousuo:before {
  content: "\e8ba";
}

.icon-taolunqu:before {
  content: "\e8bc";
}

.icon-xiaoxizhongxin:before {
  content: "\e8be";
}

.icon-more:before {
  content: "\e684";
}

.icon-icon_fabu:before {
  content: "\eb88";
}

.icon-baocun:before {
  content: "\ec09";
}

.icon-comment:before {
  content: "\e668";
}

.icon-fabulous:before {
  content: "\e66f";
}

.icon-help:before {
  content: "\e677";
}

.icon-more1:before {
  content: "\e679";
}

.icon-smile:before {
  content: "\e67e";
}

.icon-user:before {
  content: "\e685";
}

.icon-warning:before {
  content: "\e686";
}

.icon-arrow-left-bold:before {
  content: "\e687";
}

.icon-wenjuan:before {
  content: "\e8bb";
}

.icon-search:before {
  content: "\e6d4";
}

.icon-add:before {
  content: "\e689";
}

.icon-link:before {
  content: "\e6c3";
}

.icon-close_circle:before {
  content: "\e66e";
}

.icon-trash:before {
  content: "\e6dd";
}

.icon-form:before {
  content: "\e699";
}

.icon-list:before {
  content: "\e682";
}

.icon-settings:before {
  content: "\e68a";
}

.icon-home:before {
  content: "\e6b8";
}

